.facility-parent {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        width: 80%;
        margin: auto;
        padding: 40px 0;
        background: #62D2A2;
    }

    .freeshiping {
        display: flex;
        align-items: center;
        justify-content: center;
        

        .icons {
            font-size: 40px;
            padding-right: 5px;
            color: #a6f1cd;
            
        }
        h2{
            color: white;
        }
        p{
            color: #a6f1cd;
        }

        .icons:hover {
            -webkit-transition: all 0.4s ease-out;
            transform: rotate(-360deg);
            cursor: pointer;
        }
    }

    .free-return {
        display: flex;
        align-items: center;

        .icons {
            font-size: 30px;
            padding-right: 10px;
        }
    }
}