.product-filter {
  @import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Raleway:wght@700&display=swap");
  h1 {
    // font-family: "Berkshire Swash", cursive;
    color: #444444;
    text-align: center;
    padding: 80px 0 60px 0;
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      background: none;
      border: none;
      margin: 0 30px;
      font-size: 20px;
      font-family: "Raleway", sans-serif;
    }
    button:focus {
      border-bottom: 1px solid red;
      color: red;
      padding-bottom: 10px;
      font-weight: bolder;
      transition: 0.4s;
    }

    .search {
      display: flex;
      align-items: center;
      

      input {
        border: none;
        outline: none;
        background: none;
        border: 1px solid #a8a8a8;
        padding: 10px 20px;
        border-radius: 25px;
        margin-right: 20px;
      }

      .search-icon{
        font-size: 20px;
      }
    }
  }
}
