
*{
    padding: 0;
    margin: 0;
 
    box-sizing: border-box;
}
.sub-navbar-parent{
    display: flex;
    justify-content: center;
    /* margin: 50px 0 0px 0 !important; */
    border-bottom: 1px solid rgb(43, 43, 43);
    padding: 50px 0 17px 0;
    button{
        background: none;
        border: none;
       
        padding: 0 20px;
        .active{
            color: red !important;
        }
        a{
            text-decoration: none;
            font-size: 15px;
            color: black !important;
            font-weight: bolder !important;
            font-family: 'Raleway', sans-serif;
            color: rgb(0, 0, 0) !important;
            
        }
        
        a:focus{
           color: red !important;
           
            
        }
    }
}